<!DOCTYPE html>
<html>
  <title>PostMortem Email</title>
  <head>
    <style>
      <%= css_dependencies %>
      <%= styles %>
    </style>

   <link href="data:image/x-icon;base64,<%= favicon_b64 %>" rel="icon" type="image/x-icon" />
  </head>

  <body>
    <div class="toolbar">

      <a target="_blank" href="https://github.com/bobf/postmortem"><h1 class="text-secondary" id="title">Post<i class="fa fa-envelope" aria-hidden="true"></i>Mortem</h1></a>

      <a href="javascript:void(0)" class="text-secondary" id="download-link" download="Email.html">
        <i data-toggle="tooltip"
           title="Download for sharing"
           class="fa fa-cloud-download download-button"></i>
      </a>

      <i data-toggle="tooltip"
         title="View HTML Source"
         class="fa fa-code source-view-switch"></i>

      <i data-toggle="tooltip"
         title="View HTML Part"
         class="fa fa-file-code-o html-view-switch"></i>

      <i data-toggle="tooltip"
         title="View Plaintext Part"
         class="fa fa-file-text-o text-view-switch"></i>

      <span class="separator"></span>

      <i data-toggle="tooltip"
         title="Toggle Inbox"
         class="fa fa-columns column-switch"></i>

      <i data-toggle="tooltip"
         title="Toggle Headers"
         class="fa fa-envelope-open-o headers-view-switch"></i>

    </div>

    <div class="content">
      <div class="container full-width">
        <div class="row main-row">
          <div id="inbox-container" class="col inbox-container">
            <div class="row">
              <div class="col inbox-header">
                <h5><i class="fa fa-inbox"></i> Inbox <span class="text-secondary" id="inbox-info"></span></h5>
                <button data-toggle="tooltip" title="Hide read messages" class="btn btn-light show-hide-read-button"><i class="fa fa-envelope-open-o"></i> <i data-state="show" class="fa fa-eye show-hide-read-icon"></i></button>
                <button data-toggle="tooltip" title="Mark all as read" class="btn btn-light read-all-button"><i class="fa fa-envelope-open-o"></i> All</button>
              </div>
            </div>

            <div class="row">
              <!--INBOX-START-->
              <div id="inbox" class="col inbox">
                <div class="inbox-loading">Loading &mdash; <i class="fa fa-clock-o"></i></div>
              </div>
              <!--INBOX-END-->
            </div>
          </div>

          <div class="col right-column">
            <div id="headers" class="row headers visible"></div>

            <div class="preview row html-view">
              <iframe id="html-iframe"></iframe>
            </div>

            <div class="preview row text-view">
              <iframe id="text-iframe"></iframe>
            </div>

            <div class="preview row source-view">
              <iframe id="source-iframe"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <iframe id="index-iframe" src="postmortem_index.html"></iframe>
    <iframe id="identity-iframe" src="postmortem_identity.html"></iframe>
    <script type="text/javascript">
      <%= javascript_dependencies %>
    </script>
    <%= headers_template %>
    <script id="initialize-script" type="text/javascript">
      const POSTMORTEM = {};
      POSTMORTEM.downloadedPreview = false;
      POSTMORTEM.initialData = <%= mail.serializable.to_json %>;
      POSTMORTEM.hasHtml = <%= (!mail.html_body.nil?).to_json %>;
      POSTMORTEM.hasText = <%= (!mail.text_body.nil?).to_json %>;
    </script>
    <script>
      <%= javascript %>
    </script>
  </body>
</html>
