<html>
  <head>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
  </head>
  <body style="background-color: #efefef; padding: 2rem; height: 100%">
    <div class="container" style="height: 90vh; max-width: 100%;">
      <div class="row" style="height: 100%">
        <div class="col" style="height: 100%; max-width: 35rem">
          <table class="table table-hover table table-bordered" style="background-color: #fff">
            <tbody>
              <tr>
                <th>Subject:</th>
                <td><%= mail.subject %></td>
              </tr>

              <tr>
                <th style="width: 7rem;">From:</th>
                <td><%= format_email_array(mail.from) %></td>
              </tr>

              <tr>
                <th>Reply-To:</th>
                <td><%= format_email_array(mail.reply_to) %></td>
              </tr>

              <tr>
                <th>To:</th>
                <td><%= format_email_array(mail.to) %></td>
              </tr>

              <tr>
                <th>Cc:</th>
                <td><%= format_email_array(mail.cc) %></td>
              </tr>

              <tr>
                <th>Bcc:</th>
                <td><%= format_email_array(mail.bcc) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="background-color: #ffffff; padding: 2rem; height: 100%" class="col">
          <iframe id="mail-iframe" src="" style="border-style: none; width: 100%; height: 100%"></iframe>
        </div>
      </div>
    </div>
    <script>
      var mailContent = <%= mail.html_body.to_json %>;
      var iframeDocument = document.querySelector("#mail-iframe").contentDocument;
      iframeDocument.write(mailContent);
      iframeDocument.close();
    </script>
  </body>
</html>
