<!DOCTYPE html>
<html>
  <head>
    <style>
      <%= css_dependencies %>
      <%= styles %>
    </style>
  </head>
  <body>
    <div class="toolbar">

      <a target="_blank" href="https://github.com/bobf/postmortem"><h1 class="text-secondary" id="title">Post<i class="fa fa-envelope" aria-hidden="true"></i>Mortem</h1></a>

      <a href="javascript:void(0)" class="text-secondary" id="download-link" download="Email.html">
        <i data-toggle="tooltip"
           title="Download for sharing"
           class="fa fa-cloud-download download-button"></i>
      </a>

      <i data-toggle="tooltip"
         title="View HTML Source"
         class="fa fa-file-code-o source-view-switch"></i>

      <i data-toggle="tooltip"
         title="View HTML Part"
         class="fa fa-code html-view-switch"></i>

      <i data-toggle="tooltip"
         title="View Plaintext Part"
         class="fa fa-file-text-o text-view-switch"></i>

      <span class="separator"></span>

      <i data-toggle="tooltip"
         title="Toggle Inbox"
         class="fa fa-columns column-switch"></i>

      <i data-toggle="tooltip"
         title="Toggle Headers"
         class="fa fa-envelope-open-o headers-view-switch"></i>

    </div>
    <div class="content">
      <div class="container full-width">
        <div class="row main-row">
          <!--INBOX-START-->
          <div id="inbox" class="col inbox">
          </div>
          <!--INBOX-END-->

          <div class="col right-column">
            <div id="headers" class="row headers visible"></div>

            <div class="preview row html-view">
              <iframe id="html-iframe"></iframe>
            </div>
            <div class="preview row text-view">
              <iframe id="text-iframe"></iframe>
            </div>
            <div class="preview row source-view">
              <iframe id="source-iframe"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <iframe id="index-iframe" src="postmortem_index.html"></iframe>
    <iframe id="identity-iframe" src="postmortem_identity.html"></iframe>
    <script type="text/javascript">
      <%= javascript_dependencies %>
    </script>
    <%= headers_template %>
    <script>
      var initialData = <%= mail.serializable.to_json %>;
      var hasHtml = <%= (!mail.html_body.nil?).to_json %>;
      var hasText = <%= (!mail.text_body.nil?).to_json %>;
      <%= javascript %>
    </script>
  </body>
</html>
