<html>
  <head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/a11y-light.min.css"
          integrity="sha512-zqEpZCxg7IVhGXy6EwdTb26cHl8IZzN/29Mj2/oSzkCKiLxHTi491mcC/K1NhShMWXu+WvfU5Z261XPc60lw7g=="
          crossorigin="anonymous" />
    <style>
      .headers {
        height: 100%;
        max-width: 35rem;
        display: none;
      }

      .content {
        background-color: #efefef;
        padding: 1rem 2rem;
        height: 100%;
      }

      .headers table {
        background-color: #fff;
      }

      .preview {
        display: none;
        background-color: #fff;
        padding: 2rem;
        height: 100%;
      }

      .preview.source-view {
        padding: 1.5rem;
      }

      .preview iframe {
        border-style: none;
        width: 100%;
        height: 100%;
      }

      .main-row {
        height: 100%;
      }

      .container {
         height: 90vh;
         margin-top: 2.8rem;
      }

      .container.full-width {
         max-width: 100%;
      }

      .visible {
        display: block;
      }

      .toolbar {
         background-color: #fff;
         text-align: right;
         padding: 0.5rem 1rem;
         position: fixed;
         width: 100%;
      }

      .toolbar i {
        font-size: 1.2rem;
        cursor: pointer;
        margin: 0 0.2rem;
      }

      .toolbar i.disabled {
        cursor: default;
        color: #ddd !important;
      }

      .toolbar .separator {
        border-right: 1px solid #ccc;
        margin-right: 0.5rem;
        margin-left: 0.2rem;
      }
    </style>
  </head>
  <body>
    <div class="toolbar">

      <i data-toggle="tooltip"
         title="<%= mail.html_body.nil? ? 'View HTML Part (Unavailable)' : 'View HTML Part' %>"
         class="fa fa-code html-view-switch"></i>

      <i data-toggle="tooltip"
         title="<%= mail.html_body.nil? ? 'View HTML Source (Unavailable)' : 'View HTML Source' %>"
         class="fa fa-file-code-o source-view-switch"></i>

      <i data-toggle="tooltip"
         title="<%= mail.text_body.nil? ? 'View Plaintext Part (Unavailable)' : 'View Plaintext Part' %>"
         class="fa fa-file-text-o text-view-switch"></i>

      <span class="separator"></span>

      <i data-toggle="tooltip"
         title="Toggle Email Headers"
         class="fa fa-columns column-switch"></i>

    </div>
    <div class="content">
      <div class="container full-width">
        <div class="row main-row">
          <div class="col headers visible">
            <table class="table table-hover table table-bordered">
              <tbody>
                <tr>
                  <th>Subject:</th>
                  <td><%= mail.subject %></td>
                </tr>

                <tr>
                  <th style="width: 7rem;">From:</th>
                  <td><%= format_email_array(mail.from) %></td>
                </tr>

                <tr>
                  <th>Reply-To:</th>
                  <td><%= format_email_array(mail.reply_to) %></td>
                </tr>

                <tr>
                  <th>To:</th>
                  <td><%= format_email_array(mail.to) %></td>
                </tr>

                <tr>
                  <th>Cc:</th>
                  <td><%= format_email_array(mail.cc) %></td>
                </tr>

                <tr>
                  <th>Bcc:</th>
                  <td><%= format_email_array(mail.bcc) %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview col html-view">
            <iframe id="html-iframe"></iframe>
          </div>
          <div class="preview col text-view">
            <iframe id="text-iframe"></iframe>
          </div>
          <div class="preview col source-view">
            <iframe id="source-iframe"></iframe>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script>
      (function () {
        var htmlIframeDocument = document.querySelector("#html-iframe").contentDocument;
        htmlIframeDocument.write(<%= mail.html_body.to_json %>);
        htmlIframeDocument.close();

        var textIframeDocument = document.querySelector("#text-iframe").contentDocument;
        textIframeDocument.write('<pre>' + <%= ERB::Util.html_escape(mail.text_body).to_json %> + '</pre>');
        textIframeDocument.close();

        var sourceHighlightBundle = [
           '<link rel="stylesheet"',
           '     href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/agate.min.css"',
           '     integrity="sha512-mMMMPADD4HAIogAWZbv+WjZTC0itafUZNI0jQm48PMBTApXt11omF5jhS7U1kp3R2Pr6oGJ+JwQKiUkUwCQaUQ=="',
           '     crossorigin="anonymous" />',
           '<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js"',
           '        integrity="sha512-tHQeqtcNWlZtEh8As/4MmZ5qpy0wj04svWFK7MIzLmUVIzaHXS8eod9OmHxyBL1UET5Rchvw7Ih4ZDv5JojZww=="',
           '        crossorigin="anonymous"></' + 'script>',
           '<script>hljs.initHighlightingOnLoad();</' + 'script>',
        ].join('\n');

        var sourceIframeDocument = document.querySelector("#source-iframe").contentDocument;
        sourceIframeDocument.write('<pre><code style="padding: 1rem;" class="language-html">' + <%= ERB::Util.html_escape(mail.html_body).to_json %> + '</code></pre>');
        sourceIframeDocument.write(sourceHighlightBundle);
        sourceIframeDocument.close();

        var twoColumnView;
        var hasHtml = <%= (!mail.html_body.nil?).to_json %>;
        var hasText = <%= (!mail.text_body.nil?).to_json %>;
        var headers = document.querySelector('.headers');
        var columnSwitch = document.querySelector('.column-switch');

        var setColumnView = function (enableTwoColumnView) {
          var container = document.querySelector('.container');
          twoColumnView = enableTwoColumnView;
          if (twoColumnView) {
            setVisible(headers, true);
            setOn(columnSwitch);
            container.classList.add('full-width');
          } else {
            setVisible(headers, false);
            setOff(columnSwitch);
            container.classList.remove('full-width');
          }
        };

        var contexts = ['source', 'text', 'html'];

        var views = {
          source: document.querySelector('.source-view'),
          html: document.querySelector('.html-view'),
          text: document.querySelector('.text-view'),
        };

        var toolbar = {
          source: document.querySelector('.source-view-switch'),
          html: document.querySelector('.html-view-switch'),
          text: document.querySelector('.text-view-switch'),
        };

        var setOn = function(element) {
          element.classList.add('text-primary');
          element.classList.remove('text-secondary');
        };

        var setOff = function(element) {
          element.classList.add('text-secondary');
          element.classList.remove('text-primary');
        };

        var setDisabled = function(element) {
          element.classList.add('disabled');
          element.classList.remove('text-secondary');
          element.onclick = function () {};
        };

        var setVisible = function(element, visible) {
          if (visible) {
            element.classList.add('visible');
          } else {
            element.classList.remove('visible');
          }
        };

        var setView = function(context) {
          var key;
          for (i = 0; i < contexts.length; i++) {
            key = contexts[i];
            if (key === context) {
              setOn(toolbar[key]);
              setVisible(views[key], true);
            } else {
              setOff(toolbar[key]);
              setVisible(views[key], false);
            }
          }
        };

        toolbar.html.onclick   = function () { setView('html'); };
        toolbar.text.onclick   = function () { setView('text'); };
        toolbar.source.onclick = function () { setView('source'); };
        columnSwitch.onclick   = function () { setColumnView(!twoColumnView); };

        if (!hasText) setDisabled(toolbar.text);

        if (hasHtml) {
          setView('html');
        } else {
          setDisabled(toolbar.html);
          setDisabled(toolbar.source);
          setView('text');
        }

        setColumnView(true);

        $('[data-toggle="tooltip"]').tooltip();
      })();
    </script>
  </body>
</html>
