<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/a11y-light.min.css"
          integrity="sha512-zqEpZCxg7IVhGXy6EwdTb26cHl8IZzN/29Mj2/oSzkCKiLxHTi491mcC/K1NhShMWXu+WvfU5Z261XPc60lw7g=="
          crossorigin="anonymous" />
    <style>
      <%= styles %>
    </style>
  </head>
  <body>
    <div class="toolbar">


      <a href="javascript:void(0)" class="text-secondary" id="download-link" download="Email.html">
        <i data-toggle="tooltip"
           title="Download for sharing"
           class="fa fa-cloud-download download-button"></i>
      </a>

      <i data-toggle="tooltip"
         title="View HTML Source"
         class="fa fa-file-code-o source-view-switch"></i>

      <i data-toggle="tooltip"
         title="View HTML Part"
         class="fa fa-code html-view-switch"></i>

      <i data-toggle="tooltip"
         title="View Plaintext Part"
         class="fa fa-file-text-o text-view-switch"></i>

      <span class="separator"></span>

      <i data-toggle="tooltip"
         title="Toggle Inbox"
         class="fa fa-columns column-switch"></i>

      <i data-toggle="tooltip"
         title="Toggle Headers"
         class="fa fa-envelope-open-o headers-view-switch"></i>

    </div>
    <div class="content">
      <div class="container full-width">
        <div class="row main-row">
          <div id="inbox" class="col inbox">
          </div>

          <div class="col right-column">
            <div id="headers" class="row headers visible"></div>

            <div class="preview row html-view">
              <iframe id="html-iframe"></iframe>
            </div>
            <div class="preview row text-view">
              <iframe id="text-iframe"></iframe>
            </div>
            <div class="preview row source-view">
              <iframe id="source-iframe"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <iframe id="index-iframe" src="index.html"></iframe>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <%= headers_template %>
    <script>
      var initialData = <%= mail.serializable.to_json %>;
      var hasHtml = <%= (!mail.html_body.nil?).to_json %>;
      var hasText = <%= (!mail.text_body.nil?).to_json %>;
      <%= javascript %>
    </script>
  </body>
</html>
